.ce-block {
    margin: 20px 0;
}

.simage__wrapper {
    position: relative;
}

.post-side__container {
    display: flex;
    justify-content: space-between;
}

.post-side__primary-text-wrapper {
    width: 68%;
}

.post-side__primary-text {
    height: fit-content !important;
}

.post-side__side-wrapper {
    position: relative;
    width: 30%;
}

.article-block__title, .article-block__link, .simage__caption {
    width: 100%;
    border: 1px solid #ccc;
    padding: 15px 15px;
    margin: 5px 0;
}

.post-side__title {
    color: rgb(14 165 233);
}

.article-block__link, .simage__caption {
    padding: 10px 15px;
}

.post-side__text {
    width: 100%;
    border: 1px solid #eeeeee;
    padding: 15px 15px;
    margin: 15px 0;
    height: fit-content;
}

.plus__button {
    position: absolute;
    right: 0;
    top: 100%;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 100;
}

.post-side__button > path {
    fill: #ccc;
}

.gallery__wrapper {
    display: flex;
    justify-content: space-between;
}

.gallery__container {
    width: 45%;
    position: relative;
}

img {
    transition: .1s ease-in;
    width: 230px;
}

.gallery__remove-icon {
    position: absolute;
    right: 0;
    top: 10px;
    background: #fff;
    cursor: pointer;
    width: 25px !important;
}

.gallery__caption {
    width: 100%;
    border: 1px solid #ccc;
    padding: 15px 15px;
    margin: 15px 0;
    display: block;
}

.megaphoto__image {
    width: 100% !important;
}

.simage__image {
    width: 60%;
}
